# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.pytest_cache/*
.cache/*
.idea/*
datasets/*
!datasets/.gitkeep
.history/*
.vscode/*
*/__pycache__/*
dist/*
!dist/.gitkeep
*.pyc
*.exe

docs/.vuepress/dist/*
